.wrapper {
  position: sticky;
  bottom: 0;
  padding: 2rem 0;
  background-color: var(--brand-color);
  z-index: 9999;
}

.inside {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2em;
}

.buttonWrapper {
  display: grid;
  gap: 1rem;
}

.primary,
.secondary {
  width: 100%;
  padding: 6px 12px;
  font-size: 1.2rem;
  color: var(--black-color);
}

.primary {
  border: 3px solid var(--brand-color);
  background-color: var(--brand-color);
}

.primary:hover {
  border: 3px solid var(--brand-color);
  background-color: var(--white-color);
  cursor: pointer;
}

.secondary {
  border: 3px solid var(--black-color);
  background-color: var(--white-color);
}

.secondary:hover {
  /* border: 3px solid var(--black-color); */
  background-color: var(--black-color);
  color: var(--white-color);
  cursor: pointer;
}

.plain {
  background-color: var(--white-color);
  border: none;
  color: var(--black-color);
}

.plain:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* HEADLESS UI */

.dialog {
  position: relative;
  z-index: 99999;
}

.dialogInside {
  position: fixed;
  inset: 0;
  overflow-y: auto;
}

.dialogPanel {
  position: absolute;
  display: grid;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  margin: auto auto;
  padding: 2rem;
  overflow: hidden;
  background-color: var(--white-color);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  gap: 1rem;
}

.transitionChild {
  position: fixed;
  inset: 0;
  background-color: var(--black-color);
  opacity: 0.35;
}

@media only screen and (min-width: 1000px) {
  .dialogPanel {
    width: 800px;
    margin: 0 auto;
  }
}
